#wrapper {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.pagecontainer {
border: 1px dotted black;
float: left;
width: 100%;
vertical-align: top;
margin-left: 20px;
margin-top: 80px;
}


.pagecontainer2 {
border: 1px dotted black;
float: left;
width: 100%;
vertical-align: top;
margin-left: 20px;
margin-top: 10px;
display: inline-table;
}

#tk-logo {
  font-family: "acta-display", serif;
  position: absolute;
  font-weight: 300; 
  font-size: 40px; 
  color: #999999;  
  margin-left: 20px;
  margin-top: 10px; 
  margin-bottom: 10px;
  display: inline-table;
}

a {
	text-decoration: none;
	color: #000;
  text-decoration: underline;
}

a:hover {
color: #000;
}

a.class2 {
  text-decoration: none;
  padding: 4px 8px;
  line-height: 32px;
  color: #999999;
}

a.class2:hover {
color: #94210C;
padding: 4px 8px;
line-height: 32px;
text-decoration: underline;
}


a.class3 {
  font-family: "acta-display", serif;
  color: #999999;
  text-decoration: none;
}

a.class3:hover {
  font-family: "acta-display", serif;
  color: #999999;
  text-decoration: none;
}

a.class4 {
	font-weight: normal;
	text-decoration: none;
	padding: 4px 8px;
	line-height: 32px;
	color: #94210C;
}

a.class4:hover {
	font-weight: normal;
	color: #666666;
	padding: 4px 8px;
	line-height: 32px;
	text-decoration: underline;
	}

figure.class1 {
	display: inline-block;
    margin: 1em;
    margin-left: 0;
    margin-top: 0;
    /*margin-end: 0px;*/

}

.header-area {
	position: relative;
	margin-left: 20px;
	margin-top: 10px;
	/*margin-bottom: 10px;*/
	display: inline-table;
}

a.contactstyle {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  font-family: Helvetica,sans-serif;
  color: #999999;
  line-height: 3;
  display: inline-table;
  /*position: absolute;
  margin-left: 40px;
  top: 620px;*/
}

a.contactstyle:hover {
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  font-family: Helvetica,sans-serif;
  color: #000;
  line-height: 3;
  display: inline-table;
  /*position: absolute;
  margin-left: 40px;
  top: 620px;*/
}

.imagetitle {
  font-size: 14px;
  font-family: Helvetica,sans-serif;
  font-style: italic;
  color: #000;
  line-height: 3;
  margin-left: 600px;
  position: absolute;
  top: 610px;
}

/*start-nb photo column*/
.nb-photogrid {
  vertical-align: top;
  -webkit-columns: 4 211px;
  -moz-columns: 4 211px;
  columns: 4 211px;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
}

p.class4 {
 vertical-align: top;
}
/*end-nb photo column*/


/*start-from stackoverflow CK left*/
ul.leftNav {
	position: absolute;
	margin-left: 500px;
	margin-top: 20px;
	margin-bottom: 10px;
	display: inline-table;
        padding:0;
        text-align: left;
        font-family: Helvetica, sans-serif;
    }

    .leftNav li:hover {
        background-color: transparent;
        color: #94210C;
    }

    ul.leftNav  li{
        list-style: none;
        display: inline-block;
        color: #999999;
        padding: 4px 10px;
        font-weight: bold;
        line-height: /*32px*/ 20px;
        position:relative;
    }

    ul.leftSubNav {
        position: absolute;
        right:0;
        margin: 4px 0 0 -20px;
        padding: 0;
        display: none;
        white-space:nowrap;
    }

/*submenu*/
    ul.leftSubNav li {
        background-color: transparent;
        /*list-style: none;*/
        display: inline;
        color: black;
        padding: 4px 8px;
        font-weight: normal;
        position: relative;
        line-height: 10px;
    }

    .leftNav li:hover ul.leftSubNav {
        display: inline-block;
        background-color: transparent;
        padding: 2px 8px;
    }

    /*end-from stackoverflow CK left*/