* { margin:0; padding:0; box-sizing:border-box; }

body {
  color:#333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  text-align: left;
}

/*header.home {
  margin: 50em 0 0 0;
  position: fixed;
  padding: .25em;
  width: 50%;
  display: block;
  background-color: #000;
  opacity: 0.75;
}*/

header {
  *margin: 1.5em;
}

nav {
  float: right;
}

p {
  display: block;
  line-height: 1.5em;
}

h1 {
  clear: both;
  font-family: inherit;
  font-size: 1.3em;
  font-weight: 300;
  text-decoration: none;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  padding: 1em; 
  /*background-color: grey;*/
  display: block;
}

h2 {
  font-family: inherit;
  font-size: 1.3em;
  font-weight: 700;
  text-decoration: none;
  text-align: left;
  text-transform: uppercase;
  color: #000;
  display: inline;
}

hr {
  clear:both;
  width: 100%;
  display: block;
  height: .05em;
  background-color: #333;
  border: none;
}

footer {
  clear: both;
  padding: 10px;
}

img.align-center {
  display: block;
  margin: 0px auto;
}

a.contact {
  color: #fff;
  text-decoration: none;
}

a.contact:hover {
  color: #fff;
  text-decoration: underline;
}

a.citation-link {
  color: #999;
  font-style: italic;
  text-decoration: none;
  float: right;
  /*background-color: yellow;*/
}

a.citation-link:hover  {
  color: #333;
  font-style: italic;
  text-decoration: underline;
  float: right;
}

a.direct {
  text-decoration: none;
  color: #999;
  padding: 1em;
}

a.direct:hover {
  color: #333;
  text-decoration: underline;
}

a.direct-home {
  text-decoration: none;
  font-weight: 800;
  color: #fff;
  padding: 1em;
  width: 75%;
  display: inline;
}

a.direct-home:hover {
  text-decoration: underline;
  font-weight: 800;
  color: #9999FF;
}

a.logo-link {
  font-family: "acta-display", serif;
  color: #333333;
  text-decoration: none;
}

a.logo-link:hover {
  font-family: "acta-display", serif;
  text-decoration: none;
}

hr.mid {
  clear:both;
  width: 80%;
  display: block;
  height: .05em;
  background-color: #333;
  border: none;
  margin: 0 auto;
}

img.nb-book {
  width: 33%;
  }

img.nbphotos-lft {
  float: left;
  display: block;
  margin: 0 auto;
  padding: 3px;
  width: 25%;
  }

p.wide-txt{
  font-size: 1.1em;
  /* width: 100%; */
  text-align: justify;
  margin: 0 auto;
  padding: 1em 2em 1em 2em;
  background-color: #fff;
}

.lft-col {
  float: left;
  width: 65%;
 /* background-color: red;*/
  padding: 3.3em 1em 1em 1em;
}

.rght-col {
  float: right;
  width: 65%;
  /*background-color: red;*/
  padding: 3.5em 1em 1em 1em;
}


#copyright {
  text-decoration: none;
  color: #fff;
  width:100%;
  float: left;
  position: relative;
}

#listheader {
  color: #333;
  padding: 0;
  font-weight: bold;
  display: inline-block;
}

#subtext {
  font-family: Helvetica, Arial, sans-serif;
  font-size: .75em;
  font-weight: lighter;
  font-style: italic;
  color: #fff;
}

#home-contact {
  clear: both;
  width: 50%
  float: left;
 }

#home-footer {
  clear: both;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  float: left;
  display: block;
  color: red;
  margin: 52em 0 0 0;
  padding: 10px;
/*  background-color: yellow;*/
}

#home-header {
  margin: 0 auto;
  position: absolute;
  padding: .5em;
  width: 100%;
  height: 5em;
  display: block;
  background-color: #333;
  opacity: 0.75;
} 

#home-image {
  background: url("../images/01_kasterine_home.jpg") no-repeat center center fixed;
  background-color: #003366;
  background-size: 100%;
  width: 1024px;
  /*height: 568px;*/
}

#home-imgtitle {
  clear: both;
  width: 50%;
  float: right;
  color: #fff;
  font-style: italic;
  font-weight: 300;
  text-align: right;
  /*background-color: red;*/
}

#home-logo {
  float: left;
  text-transform: uppercase;
  font-family: "acta-display", serif;
  font-weight: 300; 
  font-size: 1.5em; 
  color: #fff;
  display: inline-table;
  margin: .5em auto .2em 1.5em;
}

 #home-nav {
  float: left;
  margin: 1.3em auto 1.3em 27em;
  /*position: absolute;*/
}

#logo-link {
  font-family: "acta-display", serif;
  font-weight: 300; 
  font-size: 40px; 
  color: #fff;
  display: inline-table;
  margin: 10px auto 10px 0;
}

#nb-film-one {
  background-color: #756C67;
}

#pages-header {
  margin: 0 auto;
  /*position: absolute;*/
  padding: .5em;
  width: 100%;
  height: 5em;
  display: block;
  background-color: #333;
  opacity: 0.75;
} 

 #pages-nav {
  width: 50%;
  display: inline;
  float: left;
  margin: 1.3em auto 1.3em 27em;
  background-color: red;
}

#wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
