* { margin:0; padding:0; box-sizing:border-box; }

body {
  color:#333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  text-align: left;
}

header.home {
  margin: 50em 0 0 0;
  position: fixed;
  padding: .25em;
  width: 50%;
  display: block;
  background-color: #000;
  opacity: 0.75;
 /* filter: alpha(opacity=70);*/ 
}

header {
  *margin: 1.5em;
}

nav {
  float: right;
}

p {
  display: block;
  line-height: 1.5em;
}

h1 {
  clear: both;
  font-family: inherit;
  font-size: 1.3em;
  font-weight: 300;
  text-decoration: none;
  text-align: left;
  text-transform: uppercase;
  color: #C5260B;
  padding: 1em; 
  /*background-color: grey;*/
  display: block;
}

h2 {
  font-family: inherit;
  font-size: 1.3em;
  font-weight: 700;
  text-decoration: none;
  text-align: left;
  text-transform: uppercase;
  color: #000;
  display: inline;
}

hr {
  clear:both;
  width: 100%;
  display: block;
  height: .05em;
  background-color: #333;
  border: none;
}

footer {
  clear: both;
  padding: 10px;
}

img.align-center {
  display: block;
  margin: 0px auto;
}

a.contact {
  color: #999;
  text-decoration: none;
}

a.contact:hover {
  color: #333;
  text-decoration: underline;
}

a.citation-link {
  color: #999;
  font-style: italic;
  text-decoration: none;
  float: right;
  /*background-color: yellow;*/
}

a.citation-link:hover  {
  color: #333;
  font-style: italic;
  text-decoration: underline;
  float: right;
}

a.direct {
  text-decoration: none;
  color: #999;
  padding: 1em;
}

a.direct:hover {
  color: #333;
  text-decoration: underline;
}

a.direct-home {
  text-decoration: none;
  color: #999;
  padding: 1em;
  width: 75%;
  display: inline;
}

a.direct-home:hover {
  color: #333;
  text-decoration: underline;
}

a.logo-link {
  font-family: "acta-display", serif;
  color: #333333;
  text-decoration: none;
}

a.logo-link:hover {
  font-family: "acta-display", serif;
  text-decoration: none;
}

hr.mid {
  clear:both;
  width: 80%;
  display: block;
  height: .05em;
  background-color: #333;
  border: none;
  margin: 0 auto;
}

img.nb-book {
  width: 33%;
  }

img.nbphotos-lft {
  float: left;
  display: block;
  margin: 0 auto;
  padding: 3px;
  width: 25%;
  }

 nav.home {
  width: 100%;
  float: left;
}

p.wide-txt{
  font-size: 1em;
  width: 80%;
  text-align: justify;
  margin: 0 auto;
  padding: 0 10px 20px 0;
}

.lft-col {
  float: left;
  width: 65%;
 /* background-color: red;*/
  padding: 3.3em 1em 1em 1em;
}

.rght-col {
  float: right;
  width: 65%;
  /*background-color: red;*/
  padding: 3.5em 1em 1em 1em;
}

#copyright {
	text-decoration: none;
	color: #999;
	float: left;
  position: relative;
}

#listheader {
  color: #333;
  padding: 0;
  font-weight: bold;
  display: inline-block;
}

#imagetitle {
	clear: both;
	float: right;
  color: #999;
  font-style: italic;
}

#subtext {
  font-family: Helvetica, Arial, sans-serif;
  font-size: .75em;
  font-weight: lighter;
  font-style: italic;
  color: #333;
}

#home {
  background: url("../images/01_kasterine_home.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 1024px;
  height: 568px;
}

#logo-home {
  font-family: "acta-display", serif;
  font-weight: 300; 
  font-size: 40px; 
  color: #fff;
  display: inline-table;
  margin: 10px auto 10px 0;
}
#logo-link {
  font-family: "acta-display", serif;
  font-weight: 300; 
  font-size: 40px; 
  color: #333;
  display: inline-table;
  margin: 10px auto 10px 0;
}

#wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
