* { margin:0; padding:0; box-sizing:border-box; }
body {
  color:#333;
  font-family: "helvetica neue", helvetica, sans-serif;
  font-size: 100%;
}

p {
  margin-left: 10px;
  text-align: left;
}

h1 {
  text-align: center;
  color: #333333;
  margin: 0 auto;
  font-size: 1.5em;
}

#wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
footer {
  margin-left: 20px;
  margin-top: 10px;
}

#tk-logo {
  font-family: "acta-display", serif;
  font-weight: 300; 
  font-size: 40px; 
  color: #333333;  
  margin-left: 20px;
  margin-top: 10px; 
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #000;
  text-decoration: underline;
}

a:hover {
  color: #000;
}

a.class2 {
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  padding: 4px 8px;
  line-height: 32px;
  color: #999999;
}

a.class2:hover {
  color: #94210C;
  padding: 4px 8px;
  line-height: 32px;
  text-decoration: underline;
}
a.class3 {
  font-family: "acta-display", serif;
  color: #333333;
  text-decoration: none;
}

a.class3:hover {
  font-family: "acta-display", serif;
  /*color: #333333;*/
  text-decoration: none;
}

a.class4 {
  font-weight: normal;
  text-decoration: none;
  padding: 4px 8px;
  line-height: 32px;
  color: #94210C;
}

a.class4:hover {
  font-weight: normal;
  color: #666666;
  padding: 4px 8px;
  line-height: 32px;
  text-decoration: underline;
  }

img.align-center {
  display: block;
  margin: 0px auto;
}

img.large {
  width:1024 px;
  height: 568 px;
}

img.medium {
  width:765 px;
  height: 400 px;
}

figure.class1 {
  display: inline-block;
  /*margin: 1em;*/
  margin-left: 0;
  margin-top: 0;
  /*margin-end: 0px;*/
}

a.contactstyle {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  font-family: Helvetica,sans-serif;
  color: #999999;
  line-height: 3;
  display: inline-table;
  /*position: absolute;
  margin-left: 40px;
  top: 620px;*/
}

a.contactstyle:hover {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  /*position: absolute;
  margin-left: 40px;
  top: 620px;*/
}

/*start-from stackoverflow navigation*/
ul.leftNav {
        position: absolute;
        margin-left: 500px;
        margin-top: 20px;
        margin-bottom: 10px;
        padding:0;
        text-align: left;
        font-family: Helvetica, sans-serif;
    }

    .leftNav li:hover {
        background-color: transparent;
        color: #94210C;
    }

    ul.leftNav  li{
        list-style: none;
        display: inline-block;
        color: #999999;
        padding: 4px 10px;
        font-weight: bold;
        line-height: /*32px*/ 20px;
        position:relative;
    }

    ul.leftSubNav {
        position: absolute;
        right:0;
        margin: 4px 0 0 -20px;
        padding: 0;
        display: none;
        white-space:nowrap;
    }

/*submenu*/
    ul.leftSubNav li {
        background-color: transparent;
        /*list-style: none;*/
        display: inline;
        color: black;
        padding: 4px 8px;
        font-weight: normal;
        position: relative;
        line-height: 10px;
    }

    .leftNav li:hover ul.leftSubNav {
        display: inline-block;
        background-color: transparent;
        padding: 2px 8px;
    }
/*end-from stackoverflow navigation*/

/*start-NB Photo page. HTML and CSS book CH 16 example*/
.entry {
        width: 220px;
        float: left;
        margin: 14px;
        height: 262px;
        background-color: transparent;
  }

figure.class2  {
        display: block;
        margin: 0 auto;
        padding: 4px;
  }
/*end--NB Photo page. HTML and CSS CH 16 example*/

.header-area {
  position: relative;
  margin-left: 20px;
  margin-top: 10px;
  /*margin-bottom: 10px;*/
  display: inline-table;
}
.imagetitle {
  font-size: 14px;
  font-family: Helvetica,sans-serif;
  font-style: italic;
  color: #000;
  line-height: 3;
  margin-left: 750px;
  position: absolute;
  top: 664px;
}
